.accoHeader{
    text-align: center;
    background-color: rgb(155, 155, 155);    
}


.accoItem{
    text-align: center;
    background-color: rgb(159, 160, 146);
}

.boutonHome{
    text-align: center;
}