<nb-layout>

<!-- HEADER : Menu, navi, logo... -->
<nb-layout-header class="header" fixed>
  <h1 id="titre">Mon PROJET FINAL</h1>
  <a class="home" routerLink="/">| HOME |</a>
  <a routerLink="../CV">| CV |</a>
  <a routerLink="../API">| MonApi |</a>
  <a routerLink="../Reporting">| B.I/Reporting |</a>
  <a routerLink="../Algorithme">| Algorithme |</a>
  <a routerLink="../Contact">| Contact |</a>
</nb-layout-header>

<!-- BODY : Content -->
<nb-layout-column class="body">
  <router-outlet></router-outlet>
</nb-layout-column>

<!-- FOOTER : Menu, navi, logo ...-->
  <nb-layout-footer class="footer">
    <h4>Interface3.Namur Projet_Final</h4>
  </nb-layout-footer>
</nb-layout>